<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Data Scientist with a focus on data-driven decision-making, leveraging my analytical skills to extract insights from large datasets. I'm pursuing an Honors degree in Data Science & Economics at 
      <a class="underline-link" href="https://www.gwu.edu/" target="_blank">George Washington University</a>. During my academic journey, I've had the opportunity to work in diverse roles including as a Data Engineering Intern at 
      <a class="underline-link" href="https://www.cargurus.com/" target="_blank">CarGurus</a> and a Data Science Intern at the 
      <a class="underline-link" href="https://www.federalreserve.gov/" target="_blank">Federal Reserve Board</a>.
    </p>

    <p>
      As a data scientist, I am passionate about uncovering trends and patterns that drive impactful business decisions. My expertise lies in building predictive models and designing data visualizations to communicate complex findings effectively. I continuously strive to develop solutions that are both data-driven and user-centric.
    </p>

    <p>
      <strong>When I'm not analyzing data</strong>, I enjoy exploring the outdoors, reading fascinating books, or trying out new recipes to expand my culinary skills.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
